/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

#logo-container {
    margin-left: -80px;
    color: black;
    font-size: 32px;
}

a#logo-container:hover {
    color: #fea667;
}
#resume img {
    height: 25px;
    width: 25px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    color: #fea667;
}

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    color: #fea667;
}

.material-icons {
    color: #fea667;
}

p {
    line-height: 2rem;
}

/* .parallax--bg {
  transition: initial;
} */

/* #logo-container {
  border: solid black 1px;
  margin-top: 4px;
  height: 58px;
} */

.col a {
    color: #fea667;
}

h1.header {
    color: #fea667;
}

.icon-block i {
    color: #fea667;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    #logo-container {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    #logo-container {
        display: none;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    background-color: #fea667
}